NLP_HW_2/archive.zip
NLP_HW_2/IMDB Dataset.csv
NLP_HW_2/w2v_cluster.png
NLP_HW_2/w2v.model
NLP_HW_2/w2v.model.wv.vectors.npy
NLP_HW_2/w2v.model.syn1neg.npy
NLP_HW_2/.ipynb_checkpoints/w2v_cluster-checkpoint.png
**/.ipynb_checkpoints/*
